<nav class="navbar navbar-expand-lg bg-gradient-pixel-up align-items-lg-center container-p-x" [ngClass]="currentBg()">

  <!-- Brand -->
  <div class="app-brand">
    <a [routerLink]="[ '/' ]" class="navbar-brand">
      <img src="assets/images/PixelUpLogo.png" alt="" class="app-brand-logo ui-w-40">
    </a>
  </div>
  <!-- / Brand -->

  <!-- Sidenav toggle -->
  <div class="navbar-nav align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <div class="navbar-nav align-items-lg-right">
      <div class="nav-item">
        <a class="nav-link" [routerLink]="[ '/podcast' ]" routerLinkActive="active">PODCAST</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="[ '/cinema' ]" routerLinkActive="active">CINEMA</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">SÉRIES</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">JOGOS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">HQs</a>
      </div>
      <div class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>USER</a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

</nav>
