<nav class="footer bg-white pt-2">
  <div class="container pt-5">
    <div class="row">

      <div class="col-lg-3 pr-lg-4 pb-5">
        <div class="d-block mb-3">
          <a href="#" class="footer-text text-large font-weight-bolder">
            <img src="assets/images/pixelup_logo_small.png" class="img-fluid ui-w-50" alt="Pixel Up logo">
          </a>
        </div>
        <p>
          Indo além de games, cinema e cultura pop!
        </p>
        <a class="text-twitter mr-3"
           href="https://twitter.com/portalpixelup" target="_blank">
          <i class="ion ion-logo-twitter"></i>
        </a>
        <a class="text-instagram mr-3"
           href="https://instagram.com/portalpixelup" target="_blank">
          <i class="ion ion-logo-instagram"></i>
        </a>
        <a class="text-spotify mr-3"
           href="https://open.spotify.com/show/2CcnAR7T1EscDZobJWYqKF?si=jt2IUL-3TRqgaBWJa4Quog" target="_blank">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="text-youtube mr-3"
           href="https://www.youtube.com/channel/UCxRmse4PuDBkTj6H_8IpSCw" target="_blank">
          <i class="ion ion-logo-youtube"></i>
        </a>
        <a class="text-instagram mr-3" href="https://medium.com/portalpixelup">
          <i class="fab fa-medium-m"></i>
        </a>
      </div>

      <div class="col">
        <div class="row">
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">SOBRE</div>
            <a [routerLink]="[ '/about' ]" class="footer-link d-block pb-2">Quem Somos</a>
          </div>
          <div class="col pb-4">
            <div class="footer-text small font-weight-bold mb-3">APOIO</div>
            <a href="https://picpay.me/pixelup" target="_blank" class="footer-link d-block pb-2">PicPay</a>
            <a href="https://padrim.com.br/pixelup" target="_blank" class="footer-link d-block pb-2">Padrim</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 pb-4 pl-lg-4">
<!--        <div class="footer-text small font-weight-bold mb-3">CONTATO</div>-->
<!--        <div class="form-row mb-4">-->
<!--          <div class="input-group col-6">-->
<!--            <input type="text" class="form-control" placeholder="Nome">-->
<!--          </div>-->
<!--          <div class="input-group col-6">-->
<!--            <input type="email" class="form-control" placeholder="Email">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-row mb-4">-->
<!--          <div class="input-group col-12">-->
<!--            <textarea class="form-control" rows="2" placeholder="Mensagem"></textarea>-->
<!--          </div>-->
<!--        </div>-->
<!--        <button class="btn btn-primary">Enviar</button>-->
      </div>
    </div>
  </div>
  <hr class="m-0">
  <div class="container py-2">
    <div>© 2018-2019. Todos os direitos reservados.</div>
  </div>
</nav>
