<div class="navbar">
    <img [routerLink]="[ '/home' ]" src="assets/images/PixelUpLogo.png" class="puff-in-center noselect" alt="Logo" id="logo">
    <div class="links">
      <span [routerLink]="[ '/podcast' ]" routerLinkActive="active">PODCAST</span>
      <span [routerLink]="[ '/blog' ]" routerLinkActive="active">BLOG</span>
      <span [routerLink]="[ '/sobre' ]" routerLinkActive="active">SOBRE</span>
      <span [routerLink]="[ '/contato' ]" routerLinkActive="active">CONTATO</span>
    </div>
</div>
