<div class="container px-3">
  <div class="row justify-content-between">
    <div class="col-md-6 pr-lg-4 mb-4 mb-lg-5" *ngFor="let post of mediumService.posts">
      <a href="#" class="ui-rect-50 d-block ui-rect ui-bg-cover"
         [style]="domSanitizer.bypassSecurityTrustStyle('background-image: url(' + post.thumbnail + ')')"></a>
      <div class="bg-white p-4">
        <div class="text-muted text-tiny mb-2">escrito por {{ post.author }}</div>
        <h3 class="font-weight-bold">
          <a href="#" class="text-body">{{ post.title }}</a>
        </h3>
        <div class="text-muted small">
          {{ post.pubDate }}
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm rounded-0 font-weight-semibold mt-4">
          LER
        </button>
      </div>
    </div>
  </div>
  <!--  <div class="text-center">-->
  <!--    <button type="button" class="btn btn-primary btn-lg rounded-0 font-weight-semibold">MAIS</button>-->
  <!--  </div>-->
</div>
