<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-6" *ngFor="let episode of episodeList">
    <div *ngIf="episode.published_at" class="card bg-dark text-white mb-3" style="max-width: 540px;">
      <a [routerLink]="[ episode.slug ]">
        <img [src]="episode.image_url" class="card-img-top" alt="Capa do Episódio">
      </a>
      <div class="card-body">
        <h2 class="card-title">#{{ (episode.number ? episode.number : 'BONUS') + ' | ' + episode.title }}</h2>
        <p class="card-text">{{ episode.description }}</p>
        <p class="card-text">{{ episode.published_at| date: fullDate }}</p>
      </div>
    </div>
  </div>
</div>
