<div class="container">
  <div class="row mt-5">
    <!-- Articles -->
    <div class="col">
      <div class="row">

        <div class="col-lg-4 pr-xl-4 mb-5" *ngFor="let post of mediumService.posts">
          <a href="#" class="d-block ui-rect ui-rect-67 ui-bg-cover mb-3"
             [style]="domSanitizer.bypassSecurityTrustStyle('background-image: url(' + post.thumbnail + ')')"></a>
          <div class="text-center text-success small font-weight-bold text-uppercase mb-2">{{ post.categories }}</div>
          <h4 class="text-center mb-2"><a href="#" class="link-animated text-dark">{{ post.title }}</a></h4>
          <div class="text-center text-light text-tiny mb-3">
            <a href="#"
               class="text-light text-uppercase">{{ post.author }}</a>
            &nbsp;\&nbsp; {{ post.pubDate }}</div>
          <div class="font-secondary text-big">
          </div>
        </div>

      </div>
    </div>
    <!-- / Articles -->
  </div>

</div>

<!-- Multiple slides -->
<section class="py-5 bg-dark">
  <div class="container">
    <div [swiper]="swiperMultipleSlides" class="swiper-container w-100">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let episode of podcastService.episodes">
          <img [src]="episode.image_url" class="img-thumbnail" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
